{% extends 'layout/app.html' %}

{% block title %} Node Update {% endblock %}


{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="dm-page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-main">
                        <h4 class="text-capitalize breadcrumb-title">Update Nodes</h4>
                        <div class="breadcrumb-action justify-content-center flex-wrap">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i
                                            class="las la-home"></i>Workflow</a></li>
                                    <li class="breadcrumb-item active"
                                        aria-current="page">State
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-default card-md mb-4">
                        <div class="card-body py-md-25">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="a8" class="il-gray fs-14 fw-500 align-center mb-10">Select
                                                Workflow</label>
                                            {% render_field form.selectWorkflow class="form-select" %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="a8" class="il-gray fs-14 fw-500 align-center mb-10">Type of
                                                Flow</label>
                                            {% render_field form.stateType class="form-select" %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="a8" class="il-gray fs-14 fw-500 align-center mb-10">Name of
                                                Flow</label>
                                            {% render_field form.name class="form-control" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}