{% load i18n %}
{% load static %}
{% with request.resolver_match.url_name as path_name %}
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav">
            <li class="has-child {% if '/dashboard/' in request.path %}open{% endif %}">
                <a href="#" class="{% if '/dashboard/' in request.path %}active{% endif %}">
                    <span class="nav-icon uil uil-create-dashboard"></span>
                    <span class="menu-text">Dashboard</span>
                    <span class="toggle-icon"></span>
                </a>
                <ul>
                    <li class="{% if path_name == 'main' %}active{% endif %}">
                        <a href="{% url 'dashboard:main' %}">Main</a>
                    </li>

                </ul>
            </li>
            <li class="has-child {% if '/flows/' in request.path %}open{% endif %}">
                <a href="#" class="{% if '/flows/' in request.path %}active{% endif %}">
                    <span class="nav-icon fa fa-code-branch"></span>
                    <span class="menu-text">Flows</span>
                    <span class="toggle-icon"></span>
                </a>
                <ul>
                    {% for item in menu_items %}
                        <li>
                            <a href="{% url 'workflow:flowInstance' item.name %}">
                                <span class="menu-text">{{ item.name }}</span>
                            </a>
                        </li>
                    {% endfor %}


                </ul>
            </li>

            <li class="menu-title mt-30">
                <span>Applications</span>
            </li>
            <li>
                <a href="{% url 'workflow:workflow' %}" class="{% if path_name == 'workflow' %}active{% endif %}">
                    <span class="nav-icon fa fa-code-branch"></span>
                    <span class="menu-text">Workflow</span>
                </a>
            </li>
            <li>
                <a href="{% url 'workflow:state' %}" class="{% if path_name == 'state' %}active{% endif %}">
                    <span class="nav-icon fa fa-shapes"></span>
                    <span class="menu-text">States</span>
                </a>
            </li>
            <li>
                <a href="{% url 'workflow:transition' %}"
                   class="{% if path_name == 'transition' %}active{% endif %}">
                    <span class="nav-icon fa fa-exchange-alt"></span>
                    <span class="menu-text">Transitions</span>
                </a>
            </li>


        </ul>
    </div>
{% endwith %}