{% load static %}

<script src="{% static 'js/plugins/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery/jquery-ui.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap/popper.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'js/plugins/accordion.js' %}"></script>
<script src="{% static 'js/plugins/apexcharts.min.js' %}"></script>
<script src="{% static 'js/plugins/autoComplete.js' %}"></script>
<script src="{% static 'js/plugins/Chart.min.js' %}"></script>
<script src="{% static 'js/plugins/daterangepicker.js' %}"></script>
<script src="{% static 'js/plugins/drawer.js' %}"></script>
<script src="{% static 'js/plugins/dynamicBadge.js' %}"></script>
<script src="{% static 'js/plugins/dynamicCheckbox.js' %}"></script>
<script src="{% static 'js/plugins/footable.min.js' %}"></script>
<script src="{% static 'js/plugins/fullcalendar@5.2.0.js' %}"></script>
<script src="{% static 'js/plugins/google-chart.js' %}"></script>
<script src="{% static 'js/plugins/jquery-jvectormap-2.0.5.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.filterizr.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.peity.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.star-rating-svg.min.js' %}"></script>
<script src="{% static 'js/plugins/leaflet.js' %}"></script>
<script src="{% static 'js/plugins/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/plugins/loader.js' %}"></script>
<script src="{% static 'js/plugins/message.js' %}"></script>
<script src="{% static 'js/plugins/moment.js' %}"></script>
<script src="{% static 'js/plugins/muuri.min.js' %}"></script>
<script src="{% static 'js/plugins/notification.js' %}"></script>
<script src="{% static 'js/plugins/popover.js' %}"></script>
<script src="{% static 'js/plugins/select2.full.min.js' %}"></script>
<script src="{% static 'js/plugins/slick.min.js' %}"></script>
<script src="{% static 'js/plugins/trumbowyg.min.js' %}"></script>
<script src="{% static 'js/plugins/wickedpicker.min.js' %}"></script>

<script src="{% static 'js/custom/apexmain.js' %}"></script>
<script src="{% static 'js/custom/charts.js' %}"></script>
<script src="{% static 'js/custom/drag-drop.js' %}"></script>
<script src="{% static 'js/custom/footable.js' %}"></script>
<script src="{% static 'js/custom/full-calendar.js' %}"></script>
<script src="{% static 'js/custom/googlemap-init.js' %}"></script>
<script src="{% static 'js/custom/icon-loader.js' %}"></script>
<script src="{% static 'js/custom/jvectormap-init.js' %}"></script>
<script src="{% static 'js/custom/leaflet-init.js' %}"></script>
<script src="{% static 'js/custom/main.js' %}"></script>