<!doctype html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlowOps - Forget Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/plugin.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
</head>
<body>
<main class="main-content">
    <div class="admin" style="background-image: url('{% static "img/admin-bg-light.png" %}');">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-8">
                    <div class="edit-profile">
                        <div class="edit-profile__logos">
                            <img class="dark" src="{% static 'img/flowOps.png' %}" alt="">
                            <img class="light" src="{% static 'img/flowOps.png' %}" alt="">
                        </div>
                        <div class="card border-0">
                            <div class="card-header">
                                <div class="edit-profile__title">
                                    <h6>Forgot Password?</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="edit-profile__body">
                                    <p>Enter the email address you used when you joined and we’ll send you instructions
                                        to reset your password.</p>
                                    <div class="form-group mb-20">
                                        <label for="email">Email Address</label>
                                        <input type="text" class="form-control" id="email" placeholder="Email address">
                                    </div>
                                    <div class="d-flex">
                                        <button class="btn btn-primary btn-default btn-squared text-capitalize lh-normal px-md-50 py-15 signIn-createBtn">
                                            Send Reset Instructions
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="enable-dark-mode dark-trigger dark-mode-wrap">
    <ul>
        <li>
            <a href="#">
                <i class="uil uil-moon"></i>
            </a>
        </li>
    </ul>
</div>
{% include 'partials/_scripts.html' %}
</body>
</html>