<!doctype html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlowOps - Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/plugin.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
</head>
<body>
<main class="main-content">
    <div class="admin" style="background-image: url('{% static "img/admin-bg-light.png" %}');">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-8">
                    <div class="edit-profile">
                        <div class="edit-profile__logos">
                            <img class="dark" src="{% static 'img/flowOps.png' %}" alt="">
                            <img class="light" src="{% static 'img/flowOps.png' %}" alt="">
                        </div>
                        <div class="card border-0">
                            <div class="card-header">
                                <div class="edit-profile__title">
                                    <h6>Sign in FlowOps</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="edit-profile__body">
                                    <form action="{% url 'signIn' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group mb-25">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control" id="username" name="username"
                                                   placeholder="Username" required>
                                        </div>
                                        <div class="form-group mb-15">
                                            <label for="password-field">Password</label>
                                            <div class="position-relative">
                                                <input id="password-field" type="password" class="form-control"
                                                       name="password" placeholder="Password">
                                                <div toggle="#password-field"
                                                     class="uil uil-eye-slash text-lighten fs-15 field-icon toggle-password2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="admin-condition">
                                            <div class="checkbox-theme-default custom-checkbox ">
                                                <input class="checkbox" type="checkbox" id="check-1" checked>
                                                <label for="check-1">
                                                    <span class="checkbox-text">Keep me logged in</span>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="admin__button-group button-group d-flex pt-1 justify-content-md-start justify-content-center">
                                            <button type="submit"
                                                    class="btn btn-primary btn-default w-100 btn-squared text-capitalize lh-normal px-50 signIn-createBtn ">
                                                sign in
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="px-20">

                                <p class="social-connector social-connector__admin text-center">
                                    <a href="{% url 'forget_password' %}"><span>Forget Password</span></a>
                                </p>

                            </div>
                            <div class="admin-topbar">
                                <p class="mb-0">
                                    Don't have an account?
                                    <a href="{% url 'register' %}" class="color-primary">
                                        Sign up
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="enable-dark-mode dark-trigger">
    <ul>
        <li>
            <a href="#">
                <i class="uil uil-moon"></i>
            </a>
        </li>
    </ul>
</div>
<script src="{% static 'js/env.js' %}"></script>
{% include 'partials/_scripts.html' %}
</body>
</html>