<!doctype html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HexaDash - Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/plugin.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
</head>
<body>
    <main class="main-content">
        <div class="admin" style="background-image: url('{% static "img/admin-bg-light.png" %}');">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-8">
                        <div class="edit-profile">
                            <div class="edit-profile__logos">
                                <img class="dark" src="{% static 'img/logo_dark.png' %}" alt="">
                                <img class="light" src="{% static 'img/logo_white.png' %}" alt="">
                            </div>
                            <div class="card border-0">
                                <div class="card-header">
                                    <div class="edit-profile__title">
                                        <h6>Sign in HexaDash</h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="edit-profile__body">
                                        <div class="edit-profile__body">
                                            <form action="{% url 'signup' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group mb-20">
                                                    <label for="first_name">First Name</label>
                                                    <input value="{% if form and form.data.first_name %} {{form.data.first_name}} {% else %} {% endif %}" type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" required>
                                                    {% if form and form.errors.first_name %} <div class="text-danger mt-2">{{form.errors.first_name}}</div> {% else %} {% endif %}
                                                </div>
                                                <div class="form-group mb-20">
                                                    <label for="last_name">Last Name</label>
                                                    <input value="{% if form and form.data.last_name %} {{form.data.last_name}} {% else %} {% endif %}" type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" required>
                                                    {% if form and form.errors.last_name %} <div class="text-danger mt-2">{{form.errors.last_name}}</div> {% else %} {% endif %}
                                                </div>
                                                <div class="form-group mb-20">
                                                    <label for="username">Username</label>
                                                    <input value="{% if form and form.data.username %} {{form.data.username}} {% else %} {% endif %}" type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                                                    {% if form and form.errors.username %} <div class="text-danger mt-2">{{form.errors.username}}</div> {% else %} {% endif %}
                                                </div>
                                                <div class="form-group mb-20">
                                                    <label for="email">Email Adress</label>
                                                    <input value="{% if form and form.data.email %} {{form.data.email}} {% else %} {% endif %}" type="email" class="form-control" name="email" id="email" placeholder="Email address" required>
                                                    {% if form and form.errors.email %} <div class="text-danger mt-2">{{form.errors.email}}</div> {% else %} {% endif %}
                                                </div>
                                                <div class="form-group mb-15">
                                                    <label for="password-field">Password</label>
                                                    <div class="position-relative">
                                                        <input id="password-field" type="password" class="form-control" name="password" placeholder="Password">
                                                        <div value="{% if form and form.data.password %} {{form.data.password}} {% else %} {% endif %}" toggle="#password-field" class="uil uil-eye-slash text-lighten fs-15 field-icon toggle-password2">
                                                        </div>
                                                        {% if form and form.errors.password %} <div class="text-danger mt-2">{{form.errors.password}}</div> {% else %} {% endif %}
                                                    </div>
                                                </div>

                                                <div class="admin-condition">
                                                    <div class="checkbox-theme-default custom-checkbox ">
                                                        <input class="checkbox" type="checkbox" id="check-1" checked>
                                                        <label for="check-1">
                                                            <span class="checkbox-text">Creating an account means you’re okay
                                                                with our <a href="#" class="color-primary">Terms of
                                                                    Service</a> and <a href="#" class="color-primary">Privacy
                                                                    Policy</a>
                                                                my preference</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="admin__button-group button-group d-flex pt-1 justify-content-md-start justify-content-center">
                                                    <button type="submit" class="btn btn-primary btn-default w-100 btn-squared text-capitalize lh-normal px-50 signIn-createBtn ">
                                                        Create Account
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-20">
                                    <p class="social-connector social-connector__admin text-center">
                                        <span>Or</span>
                                    </p>
                                    <div class="button-group d-flex align-items-center justify-content-center">
                                        <ul class="admin-socialBtn">
                                            <li>
                                                <button class="btn text-dark google">
                                                    <img class="svg" src="{% static 'img/google-Icon.svg' %}" alt="img" />
                                                </button>
                                            </li>
                                            <li>
                                                <button class=" radius-md wh-48 content-center facebook">
                                                    <i class="uil uil-facebook-f"></i>
                                                </button>
                                            </li>
                                            <li>
                                                <button class="radius-md wh-48 content-center twitter">
                                                    <i class="uil uil-twitter"></i>
                                                </button>
                                            </li>
                                            <li>
                                                <button class="radius-md wh-48 content-center github">
                                                    <i class="uil uil-github"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="admin-topbar">
                                    <p class="mb-0">
                                        Don't have an account?
                                        <a href="{% url 'login' %}" class="color-primary">
                                            Sign In
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="overlayer">
        <div class="loader-overlay">
            <div class="dm-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </div>
    </div>
    <div class="enable-dark-mode dark-trigger">
        <ul>
          <li>
            <a href="#">
              <i class="uil uil-moon"></i>
            </a>
          </li>
        </ul>
      </div>
      {% include 'partials/_scripts.html' %}
</body>
</html>