{% extends 'layout/app.html' %}

{% block title %} Dashboard {% endblock %}


{% load static %}

{% block content %}
<div class="crm demo6 mb-25">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">Dashboard</h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="las la-home"></i>Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Main</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}